### Day objectives
-variable declration 

-data types and conversions

-arithmetic operations by using python

-indentation

-how to take input from dynamically

-condition statements in python

In [10]:
print("hello world",end=" ")
print("good afternoon",end=" ")
print("wat r u doing")

hello world good afternoon wat r u doing

In [15]:
n=4  # single variable declarationan
n2=n3=n4=n  # multiple variable declaration
print(n,n2,n3,n4)

a,b,c=1,2,3 #multiple variables declaration wit different values
print(a,b,c)

4 4 4 4
1 2 3

### Data types and conversions
- int
- float
- string

In [28]:
n=12
type(n)

int

In [27]:
n=12.32
type(n)

float

In [34]:
n="123456ckkxc"
type(n)

str

In [37]:
n=2.64
int(n)

2

In [40]:
n=2.64
float(str(int(n)))

2.0

### ARTHIMETIC OPERATIOND BY

In [45]:
A=2
B=6
print(A+B)
print(A-B)
print(A*B)
print(A%B)
print(A/B)
print(A//B)
print(A**B)

8
-4
12
2
0.3333333333333333
0
64

# Indentation

In [50]:
a=5
b=6
if b>a:
    print(b)

6

In [64]:
a=2016
if (a%4==0):
    print("leap year")
else:
    print("not a leap year")

leap year

In [69]:
a=52
if a%2==0:
    print("even")
else:
    print("odd")

even

In [76]:
a=4
if a%2==0:
    print("even")
else:
    print("odd")

even

### how to take input from dynamically

In [80]:
n=str(input())
print(n)

151514ggd
151514ggd

In [1]:
a=int(input())
if a%400==0 or a%100!=0 and a%4==0:
    print("leap year")
else:
    print("not a leap year")

2000
leap year

In [92]:
a=int(input())
if a%2==0:
    print("even")
else:
    print("odd")

12
even

# condition statements in phyton
- if
- elif
- else if
- nested if

In [97]:
n=int(input())
if(1<n<1000):
    print("in range") 
else:
    print("not in a range")

9989
not in a range

In [103]:
n=int(input())
if n%10==0:
    print("true")
else:
    print("false")

50
true

In [113]:
a=1000
b=int(input())
if a%b==0:
    print("factor")
else:
    print("not a factor")

152
not a factor

In [132]:
a=input()
b=int(input())
if str(b)==a:
    print("yes")
else:
    print("no")

112
145
no

In [130]:
y=int(input())
if(y%4==0 and y%100!=0 or y%400==0):
    print(366*24*60*60*10**9)
else:
    print(365*24*60*60*10**9)

2018
31536000000000000